.app {
  background:rgb(52, 73, 94);
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-hex {
  border: none;
}

.form {
  display: block;
  padding: 1rem;

}

.input {
  background: #d1d1d1;
  color: #333;
}

.rgb-color {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5); 
  color: white;
  border-radius: 4px;
}
